<div id="order">
<div class="container">
    <br>
    <h1>Raw Material order</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <table class="table">
            <tr>
              <td>
                <label for="raw-names">Raw Material Name</label>
              </td>
              <td>
                <select id="names" class="form-control" [(ngModel)]="name" name="name" #rawname="ngModel" required>
                  <option *ngFor="let name of names" [value]="name">{{name}}</option>
                </select>
                <span style="color:red;" class="help-block" *ngIf="!rawname.valid &&
                  rawname.touched">Please enter a valid Name!</span>
              </td>
            </tr>
            <tr>
              <td>
                <label for="supplier-id">Supplier ID</label>
              </td>
              <td>
                <select id="supplier-id" class="form-control" [(ngModel)]="supplier" name="sid" #sid="ngModel" required>
                  <option *ngFor="let supplier of suppliers" [ngValue]="supplier">{{supplier.supplierId}}, {{supplier.name}}</option>
                </select>
                <span style="color:red;" class="help-block" *ngIf="!sid.valid && sid.touched">Please
                  enter a valid ID!</span>
              </td>
            </tr>

            
            <tr>
              <td>
                <label for="quantity-unit">Quantity Unit</label>
              </td>
              <td>
                <input type="number" id="unit" class="form-control" name="quantity-unit" [(ngModel)]="quantityUnit"
                required pattern="^[1-9][0-9]*$" #unit="ngModel"
                  required>
                <span style="color:red;" class="help-block" *ngIf="!unit.valid && unit.touched">Please
                  enter a valid Unit !</span>
              </td>
            </tr>
            <tr>
              <td>
                <label for="price-per-unit">Price per unit</label>
              </td>
              <td>
  
                <input type="number" id="price-per-unit" class="form-control" name="price-per-unit" [(ngModel)]="pricePerUnit"
                required pattern="^[1-9][0-9]*$"  #price="ngModel" required>
                <span style="color:red;" class="help-block" *ngIf="!price.valid && price.touched">Please
                  enter a valid Price !</span>
  
              </td>
            </tr>
            <tr>
              <td><label for="date">Expected date of Delivery</label></td>
              <td>
                <input type="date" id="date" class="form-control" name="date" [(ngModel)]="dateOfDelivery" #date="ngModel" required>
                <span style="color:red;" class="help-block" *ngIf="!date.valid && date.touched">Please
                  enter a valid date !</span>
              </td>
            </tr>
          </table>
          <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Order</button>
        </form>
      </div>
    </div>
    <div class="row" *ngIf="submitted">
      <div class="col-xs-12">
        <h3>order successful ! Your order id is : {{orderId}}</h3>
      </div>
      <br><br>
    </div>
  </div>
</div>