<div class="d-flex vw-100 vh-100 align-items-center justify-content-center">
  <form class="rounded p-5" style="width: 500px" (ngSubmit)="submit()" #forgetPasswordForm="ngForm">
    <h3 class="text-center mb-4 text-muted">Forgot Password</h3>
    <div style="margin-top: 5px" *ngIf="response.status"
         class="alert alert-danger">
      {{response.message}}
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Enter your email"
        id="useremail"
        name="useremail"
        [(ngModel)]="email"
        ngModel
        #useremail = "ngModel"
        required
        email
      >
      <div style="margin-top: 5px" *ngIf="useremail.invalid && (useremail.dirty || useremail.touched)"
           class="alert alert-danger">
        <div *ngIf="useremail.errors.required">
          Email is required
        </div>
        <div *ngIf="useremail.errors.email">
          Invalid email
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="!forgetPasswordForm.form.valid">Submit</button>
    </div>
  </form>
</div>
