<div id="update">
    <div class="container">
        <br>
        <h1>Update Product order</h1>
        <br>
        <form (ngSubmit)="onSubmit()" #f="ngForm">
    
            <table class="table">
             <!--  <tr>
                   <td><label for="orderId">Enter Order ID</label></td>
                   <td><input type="number" id="orderId" class="form-control" [(ngModel)]="orderId" #orderid="ngModel"
                    name="username" required></td>
               </tr>-->

               <tr>
                <td>
                  <label for="orderId">Enter Order ID</label>
                </td>
                <td>
                  <select id="orderId" class="form-control" [(ngModel)]="order" name="sid" #did="ngModel">
                    <option *ngFor="let order of productOrders" [ngValue]="order">{{order.orderId}}</option>
                  </select>
                  <span style="color:red;" class="help-block" *ngIf="!did.valid && did.touched">Please
                    enter a valid ID!</span>
                </td>
              </tr>
               
               <tr>
                   <td><label for="status">Status</label></td>
                   <td>
                    <input type="text" id="status" class="form-control" [(ngModel)]="orderStatus"
                    required pattern="^[a-zA-Z]+$"  #status="ngModel"
                    name="status" required>
                    <span style="color:red;" class="help-block" *ngIf="!status.valid &&
                    status.touched">Please
                                    enter a valid Status !</span>
                   </td>
               </tr>
            </table>
          
            <button
            class="btn btn-primary"
                type="submit"
                [disabled]="!f.valid">Update</button>
        </form>
        <div class="row" *ngIf="submitted">
            <div class="col-xs-12">
              <h3>{{response}}</h3>
            </div>
            <br><br>
          </div>
    </div>
    </div>