<div class="container">
    <br>
    <h1>Display Product Order</h1>
    <br>
    <div class="row">
        <div >
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Order Id</th>
                        <th scope="col">Order Name</th>
                        <th scope="col">Quantity Unit</th>
                        <th scope="col">Distributor Name</th>
                        <th scope="col">Date of Order</th>
                        <th scope="col">Date of Delivery</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Delivery Ststus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of productOrders; index as i">
                        <td>{{order.orderId}}</td>
                        <td>{{order.name}}</td>
                        <td>{{order.quantityUnit}}</td>
                        <td>{{order.distributor.name}}</td>
                        <td>{{order.dateOfOrder}}</td>
                        <td>{{order.dateOfDelivery}}</td>
                        <td>{{order.totalPrice}}</td>
                        <td>{{order.deliveryStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>